version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: .dockerfile
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - phpmyadmin

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: host.docker.internal
      PMA_USER: root
      PMA_PASSWORD: admin
